html, body {
  height: 100%;
}
body{
  font-family:Helvetica;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    180deg,
     rgb(175, 9, 84)0%,
     rgba(0,0,0,1)100%
     );
     color: #fff;
}
button {
  background: #e7528b;
  color:#f399b8;
  padding: 0 45px;
  border:2px solid #ee7c93;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.4s;
}
button:hover{
  background:#882b4f ;
}